<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite">
	<listeners>
		<listener class-name="com.techouts.fanniemae.listeners.JyperionListener" />
		<listener class-name="com.techouts.fanniemae.listeners.ExtentReporterNG" />
	</listeners>
	<test name="Test1" allow-return-values="true">
		<classes>
		
<!-- 				<class name="com.pt.ImportManagement"/>  -->
<!-- 				 <class name="com.pt.ImportTypesList"/>  -->
<!--  					<class name="com.pt.OrganisationalMapping"/>  -->
<!-- 						<class name="com.pt.TranscodingPurchasingClassification"/> -->
<!--  							<class name="com.pt.SupplierTranscoding"/> -->
<!--  						<class name="com.pt.InterfacesMonitoringConsole"/> -->
<!-- 					<class name="com.pt.InterfaceExecutionConsole"/> -->
<!-- 				<class name="com.pt.APIConsole"/> -->
<!-- 						<class name="com.pt.AS2FileSender"/> -->

<!-- 							<class name="com.pt.TokenList"/> -->
<!-- 								<class name="com.pt.CubeManage"/> -->
<!--                          <class name="com.pt.Projects"/>  -->
<!-- 						<class name="com.pt.Sample1"/> -->
                    <class name="com.fanniemae.CreateAcCatalogRequisition"/>
<!-- 			<class name="com.techouts.fanniemae.testcases.CreateRequisitionsTest"/>  -->
<!-- 		<class name="com.techouts.fanniemae.testcases.CreateContractMasterServicesAgreement"/>	 -->
<!--  			<class name="com.techouts.fanniemae.testcases.CorporateSupplierCreationTest"/> -->
<!--  		<class name="com.techouts.fanniemae.testcases.RealEstateBrokerSupplierCreationTest"/> -->
			
		</classes>
	</test>
</suite>
